body {
    background-color: #e3f2fd;
}

h1 {
    color: white;
    background-color: #5372F0;
    text-align: center;
    padding: 15px 0;
}



#today {
    background-color: white;
}

#forecast {
    /* background-color: bisque; */
}